<h3>How It Works</h3>
<ol>
  <li>Create a profile to let us know about yourself and your current challenges</li>
  <li>Get matched with a mentor</li>
  <li>Connect with your mentor and start getting the help you need!</li>
</ol>

<form method="post" action="/mentees">
<label>First Name</label>
<input type="text" name="first_name"><br>
<label>Last Name(optional)</label>
<input type="text" name="last_name"><br>
<label>Location</label>
<input type="text" name="location"><br>
<label>Age</label>
<input type="text" name="age"><br>
<label>Gender</label>
<select name="gender">
  <option value="O">Other/Prefer Not To Say</option>
  <option value="M">Male</option>
  <option value="F">Female</option>
</select><br>
<label>Preferred Mentor Gender</label>
<select name="mentor_preferred_gender">
    <option value="O">No Preference</option>
    <option value="M">Male</option>
    <option value="F">Female</option>
</select><br>
<label>Top 5 Challenges</label>
<label>Email</label>
<label>Phone (optional)</label>
<label>How do you prefer to communicate?</label>
<label>How did you hear about us?</label>
<label>List any other info that you think might be useful to us for finding you a mentor!</label>
</form>

