<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
<%get_tweets%>
  <%= yield %>
  <style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}

</style>

<div class="tweets">
  <table class="tweet-collection" style="width:100%">

  <tr>
  <th>Recent Tweets</th>
  </tr>

  <% @tweets.each do |tweet| %>
  <tr>

  <td><blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">test</p><a href="<%=tweet.url%>"></a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></td>

  </tr>
  <% end %>

  </table>

</div>
</body>
</html>
